SOURCE_XLSX_URL=https://docs.google.com/spreadsheets/d/1v0E_F2QbjWOGOR93vWT_hZEeNnK06CVX/export?format=xlsx
SOURCE_LOCAL_PATH=
CAS_ALERT_DAYS=3
TIMEZONE=America/Guayaquil
GOOGLE_SHEETS_ENABLE_PROTECTION=false
GOOGLE_SERVICE_ACCOUNT_JSON=
